[Unit]
Description=Vallox Meter
After=network.target

[Service]
ExecStart=python app.py
WorkingDirectory=/opt/app
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi
RuntimeMaxSec=86400

[Install]
WantedBy=multi-user.target