[Unit]
Description=Vallox Meter
After=network.target

[Service]
ExecStart= /opt/vallox_meter/.venv/bin/python app.py
WorkingDirectory=/opt/dev/vallox_meter
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi
RuntimeMaxSec=86400

[Install]
WantedBy=multi-user.target
